* {
  color: #aaa;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial Black;
}

body {
  padding: 0;
  margin: 0;
}

p , h3 {
  padding: 0;
  margin: 0;
}

button {
  border: 0;
  border-radius: 5px;
  color: white;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

.create-button-filter {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.button-area {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.button-area button {
  margin-top: 5px;
  height: 40px;
  width: 250px;
}

.main-create-button {
  background-color: rgba(54, 180, 11, 1);
}

.dropdown-child .create-button {
  background-color: rgba(54, 180, 11, 0.5);
  width: 120px;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-child {
  display: none;
}

.dropdown:hover .dropdown-child {
  display: flex;
  justify-content: space-between;
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

.filter {
  height: 30px;
  padding-top: 5px;
  margin-bottom: 5px; 
}

.filter-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.filter-form > * {
  margin-left: 10px;
}

.input-date {
  border: 1px solid rgb(235, 223, 223);
  border-radius: 5px;
}

.container {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: 100%;
  margin-top: 5px;
  padding: 5px;
}

.info {
  width: 20%;
}

.info-block {
  position: fixed;
  left: 5px;
  bottom: 80px;
}

.info-header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(235, 223, 223);
}

.info-block > * {
  margin-top: 7px;
}

.info-block div h3 {
  color: black;
}

.info-details {
  display: flex;
  justify-content: space-between;
}

.place {
  width: 80%;
  height:100vh;
  border-radius: 5px;
  border-top: 1px solid rgb(235, 223, 223);
  border-left: 1px solid rgb(235, 223, 223);
}
 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(56, 33, 33); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #759148;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}
.modal-content>p {
  color: #aaa;
  font-size: 20px;
  font-weight: bold;
}

/* Button */
.button {
  color: #aaa;
  font-size: 18px;
  font-weight: bold;
}
.button:hover,
.button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

.files ul {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
}

.files ul > * {
  margin-right: 30px;
}

.data-folder, .data-file {
  width: 50px;
  display: flex;
  flex-direction: column;
}

.data-folder.selectedItem, .data-file.selectedItem {
  outline: 1px solid blue;
}

.data-folder img, .data-file img {
  width: 50px;
  height: 50px;
}

/* Context menu */
#context-menu { position:absolute; display:none; }

#context-menu ul, #context-menu li {
  list-style-type: none;
  margin: 0;
  padding:0;
  background:white;
}

#context-menu { border:solid 1px #CCC;}
#context-menu li { border-bottom:solid 1px #CCC; }
#context-menu li:last-child { border:none; }
#context-menu li {
  display:block;
  padding:5px 10px; 
  text-decoration:none;
  color:blue;
}
#context-menu li:hover {
  background:blue;
  color:#FFF;
}
#context-menu #renameOption {
  display: none;
}
